$colors: (
  primary: #050B3F,
  secondary: #3C6E71,
  complementary: #284B63,
  light: whitesmoke,
  dark: #D9D9D9,
  error: #ff2818,
);

$ff: (
    italic: "Merriweather-LightItalic"
);

$breakpoints: (
  small: 767px,
  medium: 992px,
  large: 1200px,
);

@font-face {
    font-family: "Merriweather-LightItalic";
    src: url("~@/assets/fonts/Merriweather-LightItalic.ttf");
}