@import './constants';
@import './animation.scss';

body,
html {
  height: 100%;
  font-size: 10px;
}

body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  font-weight: normal;
  color: lighten(map-get($colors, primary), 100%);

  &.loading {
    overflow: scroll;
  }
}


section {
  padding: 50px 0;
  overflow: hidden;

  h3 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: map-get($colors, secondary);

  &:hover {
    color: map-get($colors, dark);
    text-decoration: none;
  }
}

li {
  margin-bottom: 10px;
}

.timeline {
  @media (max-width: #{map-get($breakpoints, medium)}) {
    width: 100%;
  }

  @media (min-width: #{map-get($breakpoints, medium)}) {
    width: 60%
  }
}

[class^="gb-"]:not(.gb-base-icon) {
  font-family: Merriweather-LightItalic,"Comic Sans", serif !important;
}
