<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="Welcome to my profesional portfolio as a Front-End Developer, You can hire me as a freelancer as a frontend or backend web developer." />

	<meta property="og:title" content="Abu Saebu Portfolio" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://abu.saebu.nl" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:image" content="<%= BASE_URL %>og.png" />
	<meta property="og:description" content="Welcome to my profesional portfolio as a Front-End Developer, You can hire me as a freelancer as a frontend or backend web developer" />

	<link rel="icon" href="<%= BASE_URL %>favicon.ico">

	<title>Abu Saebu Portfolio</title>
</head>

<body style="height: 100%;">
	<noscript>
		<strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
			Please enable it to continue.</strong>
	</noscript>
	<div id="app"></div>
	<!-- built files will be auto injected -->
</body>

</html>